

body{
    background-color: gray;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}


/*navigator*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}

ul{
    margin:0;
}

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #C2B4AB;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s;
}


/*dashboard*/


.dashboard{
	
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 70px;
    align-items: center;
}

.pr{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.menu{
	   font-family: 'Noto Sans KR', sans-serif;
   	   font-weight: 500;
       font-size: 50px;
}
/*로그인 */
#id01{
	display: flex;
    flex-direction: column;
    align-items: left;
    margin-top:1px;
    margin-bottom: 1px;
}
/*Color_Button*/


.box{ 
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 20px;
    font-weight: 100;
    color: black;
    width: 300px;
    height: 50px;
     margin-top:1px;
    margin-bottom: 1px;
}
/* 색상 박스가 선택되었을 때 속성 */gg
.selected{
    outline: 2px solid white;
}
/* 색상 박스 */
.colorBox{
    width: 40px;
    height: 40px;
    float: left;
    margin: 4px 4px 0px 0px;
    cursor: crosshair;
 }







/*footer*/


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px;
    margin-top:50px;
    margin-bottom: 20px;
}
.contact{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.links>a{
	font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 15px;
}

.footer>p{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: 100;
    font-size: 50px;
    font-style: ;
    margin: 0;
    margin-top: 20px;
}



#list{
	    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 40px;

    margin-bottom: 40px;
}

.menu_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;
}


.menu>li{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 40px;

    margin-bottom: 40px;
}

#capability{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;

    line-height: 30px;
}







